
body{
    text-align: center;
    background: url("../img/back.jpg") no-repeat center center fixed;
    background-size: cover;
}

#SearchList {
    margin-top: 15px;
}

#SearchList table td {
    border: 1px solid black;
    border-left-width: 0px; 
}

.hover :hover{
    cursor:pointer;
    background-color: #ccc;
}

#SearchList table #imagetd {
    border: 1px solid black;
    border-right-width: 0px; 
}

#second{
     display:none;
     width:100%;
     background-color: #ccc;
}

#content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border:2px solid #ccc;
    border-radius: 15px;
    padding-bottom: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#content h1{
    border-bottom:2px solid #ccc;
    background-color: #fff;
}

input[type=submit] {
    width: 60%;
    background-color:#ccc;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
}

input[type=submit] a {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #ccc;
    color: #fff;
    border:2px solid #ccc;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

input[type=submit]  a:hover{
    background-color: #f2f2f2;
    color: #449FEE;
}